body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  #buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  
  #timer-wrapper {
    text-align: center;
    margin: 40px 20px;
  }
  
  h1 {
    margin: 20px 0;
  }
  
  #timer {
    font-size: 72px;
    margin: 20px 0;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #pause-button {
    display: none;
  }
  